html, body, #form1 {
    margin: 0px;
    padding: 0px;
    width: 1920px;
	overflow-x: hidden;
}

body, #form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label, a {
    font-family: Roboto Condensed;
    text-decoration: none;
    color: #4B4848;
    font-weight: bold;
}



.profile {
    height: 300px;
    width: 1920px;
    background-color: #807187;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .profile .card {
        height: 420px;
        width: 1300px;
        background-color: white;
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
        border-radius: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
		margin-left: -150px;
    }

        .profile .card #left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 50px;
        }

            .profile .card #left .handle {
                font-size: 30px;
            }

            .profile .card #left #main {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-top: -10px;
            }

                .profile .card #left #main img {
                    border-radius: 100px;
                    width: 80px;
                    margin-right: 20px;
                }

                .profile .card #left #main .name {
                    font-size: 90px;
                }

            .profile .card #left .location {
                font-size: 20px;
                color: grey;
            }

            .profile .card #left .bio {
                margin-top: 20px;
                font-size: 35px;
            }

            .profile .card #left #tags {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-top: 5px;
                margin-bottom: 20px;
            }

                .profile .card #left #tags .tag {
                    font-size: 20px;
                    margin-right: 10px;
                    color: grey;
                }

        .profile .card #right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

            .profile .card #right #topstats, .profile .card #right #bottomstats {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

                .profile .card #right #topstats div {
                    float: left;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-right: 15px;
                }

                .profile .card #right #topstats .number {
                    font-size: 70px;
                    font-weight: bold;
                    color: #F9CA6A;
                    margin-right: 5px;
                }

                .profile .card #right #topstats .stat {
                    font-size: 20px;
                    font-weight: bold;
                }

                .profile .card #right #bottomstats div {
                    float: left;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-right: 15px;
                }

                .profile .card #right #bottomstats .number {
                    font-size: 50px;
                    font-weight: bold;
                    color: #F9CA6A;
                    margin-right: 5px;
                }

                .profile .card #right #bottomstats .stat {
                    font-size: 15px;
                    font-weight: bold;
                }

.gallery {
    margin-top: 100px;
}

    .gallery tr td {
        padding: 25px;
    }

        .gallery tr td img {
            width: 500px;
            height: 375px;
            border-radius: 20px;
            box-shadow: 0px 0px 5px -5px rgba(0, 0, 0, 0.5);
        }

        .gallery tr td .box {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background-color: #F9CA6A;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 10px;
            box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
            margin-top: -25px;
            margin-left: -25px;
            opacity: 0;
            transition: opacity 0.3s;
        }

            .gallery tr td .box a {
                font-weight: bold;
                color: black;
            }

            .gallery tr td .box .artpiece {
                font-size: 20px;
            }

            .gallery tr td .box .artist {
                font-size: 12px;
            }

        .gallery tr td:hover > .box {
            opacity: 1;
        }

.arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

    .arrows a {
        font-size: 50px;
        font-weight: bold;
        margin-left: 25px;
        margin-right: 25px;
    }