html, body, #form1 {
    margin: 0px;
    padding: 0px;
    width: 1920px;
    overflow-x: hidden; /* disable horizontal scrolling */
    /* background-color: #807187; */
}

a {
    font-family: Roboto Condensed;
    text-decoration: none;
    color: #4B4848;
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-left: 50px;
    /* margin-left: -1300px; */
}

    .header .title {
        font-size: 100px;
        margin-right: 50px;
    }

    .header .link {
        font-size: 25px;
        margin-right: 25px;
    }

    .header .link {
        margin-left: 20px;
        font-size: 20px;
    }

.container {
    margin-top: 300px;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .text {
    font-size: 30px;
    margin-bottom: 10px;
}

.container .link {
    font-size: 15px;
    color: grey;
}

.footer {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px; /* weird div size stuff w/out this */
}

    .footer .link {
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer .text {
        font-size: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }
